/* CSS de los contenedores */
.contenedor-principal {
    display: flex; /* Activo el modo flex para crear las 3 columnas*/
    flex-direction: row; /* Las alineo en horizontal para la versión de escritorio */
    width: 100%;
    min-height: 100vh; 
   
}

.columna-menu {
    flex: 0 0 20%;
    background-color: #f8f9fa; 
    padding: 20px;
    border-right: 2px solid #ddd;

}

.columna-central {
    flex: 0 0 55%;
    background-color: #ffffff;
    padding: 20px;
}


.columna-noticias {
    flex: 0 0 25%; 
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 2px solid #ddd; 
}



.seccion-bloque {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}


.titulo-superior {
    font-family: "Roboto";
    top: 0;
    width: 100%; 
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #3165ce;
    color: white;
}



/* CSS para la galería */

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* el repeat me ahorra código y '1fr' divide el espacio en 3 partes iguales */
    gap: 20px;
    margin-top: 20px;
}


.tarjeta-foto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}


.tarjeta-foto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.info-foto {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #3165ce;
}

/* Css de los lugares de interés */
.contenedor-fichas {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px;
    margin-top: 20px;
}

.ficha-lugar {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
}

.ficha-lugar img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cuerpo-ficha {
    padding: 15px;
}

.cuerpo-ficha h3 {
    font-size: 1.2rem;
    color: #3165ce;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.ubicacion {
    font-size: 0.85rem;
    color: #6c757d;
    font-style: italic;
}

/* CSS para el mapa */

.mapa-contenedor {
    width: 100%;
    margin-top: 20px;
    
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

.mapa-contenedor iframe {
    display: block;
}

/* CSS de la columna últimas noticias */
.bloque-noticia {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 280px; /* Asigno un alto fijo para que todas las tarjetas midan lo mismo */
}

.bloque-noticia img {
    width: 100%;
    height: 120px;
    object-fit: cover; /* Esta función recorta la imagen para que rellene el hueco sin deformarse */
}

.contenido-noticia {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenido-noticia h4 {
    font-size: 1rem;
    color: #3165ce;
    margin-bottom: 5px;
}

.contenido-noticia p {
    font-size: 0.85rem;
    line-height: 1.2;
}

.contenido-noticia a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #3165ce;
    font-weight: bold;
    align-self: flex-end;
}


/* CSS botón flotante */
.boton-flotante {
    position: fixed; /* El botón se fija a una posición de la pantalla */
    top: 20px;
    right: 20px;
    background-color: #000472;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


/* Responsive: */

/* Ipad Mini */
@media (max-width: 800px) {
    .contenedor-principal {
        flex-direction: column; /* Hago que las 3 columnas se pongan en vertical para que no se amontone el contenido */
    }

    .columna-menu, .columna-central, .columna-noticias {
        flex: 0 0 100%; /*Cada columna ocupa todo el ancho de la pantalla  */
        width: 100%;
        border: none;
        padding: 15px;
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr); /* En tablet, las fotos se mostrarán de 2 en 2  */
    }
}

/* iPhone 12 Pro */
@media (max-width: 400px) {
    .grid-galeria {
        grid-template-columns: 1fr; /* En móvil, las fotos de 1 en 1  */
    }

    .contenedor-fichas {
        grid-template-columns: 1fr; /* Las fichas de lugares de interés también de 1 en 1 */
    }

}