
/* CSS de los contenedores */
.contenedor-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}


.columna-menu {
    flex: 0 0 20%;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 2px solid #ddd;
}


.columna-central {
    flex: 0 0 55%;
    background-color: #ffffff;
    padding: 20px;
}
.columna-noticias {
    flex: 0 0 25%;
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 2px solid #ddd;
}

.seccion-bloque {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    clear: both;
}


.titulo-superior {
    font-family: "Roboto";
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #3165ce;
    color: white;
}

/* CSS para la galería */

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.tarjeta-foto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.tarjeta-foto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.info-foto {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #3165ce;
}

/* Css de los lugares de interés */

.contenedor-fichas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
}
.ficha-lugar {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
}


.ficha-lugar img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cuerpo-ficha {
    padding: 15px;
}


.cuerpo-ficha h3 {
    font-size: 1.2rem;
    color: #3165ce;
    margin-bottom: 10px;
}


.descripcion {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 15px;
}


.ubicacion {
    font-size: 0.85rem;
    color: #6c757d;
    font-style: italic;
}


/* CSS para el mapa */
.mapa-contenedor {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    clear: both;
}

.mapa-contenedor iframe {
    display: block;
    width: 100%;
}


/* CSS de la columna últimas noticias */

.bloque-noticia {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 280px;
}


.bloque-noticia img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.contenido-noticia {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenido-noticia h4 {
    font-size: 1rem;
    color: #3165ce;
    margin-bottom: 5px;
}


.contenido-noticia p {
    font-size: 0.85rem;
    line-height: 1.2;
}


.contenido-noticia a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #3165ce;
    font-weight: bold;
    align-self: flex-end;
}


/* CSS botón flotante */
.boton-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #000472;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}


/* Responsive: */

/* Ipad Mini */
@media (max-width: 800px) {
    .contenedor-principal {
        flex-direction: column;
    }
    .columna-menu, .columna-central, .columna-noticias {
        flex: 0 0 100%;
        width: 100%;
        border: none;
        padding: 15px;
    }
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr); /* Para que las fotos se muestren de 2 en 2 */
    }
}

/* iPhone 12 Pro */
@media (max-width: 415px) {
    .grid-galeria, .contenedor-fichas {
        grid-template-columns: 1fr;
    }

    
    #mapa {
        margin-bottom: 20px !important;
        display: block;
        overflow: hidden;
    }

    /* Forzamos que la sección del acordeón se ponga debajo del bloque del mapa */
    #mapa + .seccion-bloque {
        margin-top: 10px !important;
        clear: both !important;
        display: block !important;
        padding-top: 20px;
    }

    
    .seccion-bloque h2 {
        position: relative;
        display: block;
        width: 100%;
    }
}